name: CI

on:
  pull_request:

jobs:
  test:
    strategy:
      matrix:
        version: [22, 24]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.version }}
      - run: npm install
      - run: npm test
  deploy-staging:
    if: github.ref_name == 'main'
    needs:
      - test
    environment: staging
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: staging deploy
        run: |
          echo "deployment steps will run here"
          exit 0
  deploy-prod:
    if: github.ref_name == 'main'
    needs:
      - test
      - deploy-staging
    environment: prod
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: staging deploy
        run: |
          echo "deployment steps will run here"
          exit 0
